.content {
    flex: 1;
}

.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #eaeaea;
}

@media (min-width: 740px) and (max-width: 991px) {
    .content {
        padding-bottom: 90px;
        padding-top: 60px;
    }
}

@media (min-width: 991px) {
    .content {
        padding-top: 90px;
        padding-bottom: 90px;
    }
}

@media (max-width: 740px) {
    .content {
        padding-top: 60px;
        padding-bottom: 90px;
    }
}
